* {
    --main-background-color: white;
    --header-background-color: skyblue;
    --footer-background-color: skyblue;
    --nav-background-color: chocolate;
    --aside-background-color: lightgreen;
    --title-background-color: white;
    --no-padding: 0px;
    --no-margin: 0px;
    --custom-margin: 10px;
    --default-padding: 10px;
    --big-text: 30px;
    --header-min-height: 50px;
    --footer-min-height: 50px;
    --main-min-height: 1000px;
    --aside-min-height: 450px;
    --title-width: 210px;
    --main-article-width: 60%;
    --image-width: 300px;
    --image-height: 200px;
    --border-width: 1px;

    margin: var(--no-margin);
    box-sizing: border-box;
}

div {
    padding: var(--default-padding);
}

header {
    padding: var(--default-padding);
    display: flex;
    grid-area: header;
    background-color: var(--header-background-color);
    min-height: var(--header-min-height);
}

header div {
    font-size: var(--big-text);
    font-weight: bold;
    text-align: start;
    padding: var(--no-padding);
    flex-grow: 1;
    display: flex;
    align-items: center;
}

header h3 {
    margin-left: var(--custom-margin);
    padding: var(--default-padding);
    width: var(--title-width);
    background-color: var(--title-background-color);
    display: flex;
    align-items: center;
}

aside {
    padding: var(--no-padding);
    grid-area: aside;
    display: flex;
    flex-direction: column;
    max-height: fit-content;
}

.interesting-fact-1 {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: var(--nav-background-color);
    min-height: var(--aside-min-height);
    flex-grow: 1;
}

.interesting-fact-2 {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: var(--aside-background-color);
    min-height: var(--aside-min-height);
    flex-grow: 1;
}

main {
    grid-area: main;
    background-color: var(--main-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

main article {
    width: var(--main-article-width);
}

nav {
    padding: var(--default-padding);
    grid-area: nav;
    background-color: var(--nav-background-color);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
}

nav ul,
nav li {
    padding: var(--no-padding);
    list-style: none;
}

nav a {
    padding: var(--no-padding);
    font-size: var(--big-text);
}

footer {
    display: flex;
    grid-area: footer;
    padding: var(--default-padding);
    background-color: var(--footer-background-color);
    min-height: var(--footer-min-height);
    height: fit-content;
}

footer h3 {
    margin-right: var(--custom-margin);
    padding: var(--default-padding);
    width: var(--title-width);
    background-color: var(--title-background-color);
    display: flex;
    align-items: center;
    justify-content: start;
}

footer div {
    padding: var(--no-padding);
    text-align: end;
    font-size: var(--big-text);
    font-weight: bold;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: end;
}

body {
    padding: var(--no-padding);
    position: absolute;
    height: auto;
    display: grid;
    min-height: var(--main-min-height);
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-template-areas:
        'header header header header'
        'aside main main nav'
        'aside main main nav'
        'footer footer footer nav';
}

.board-game {
    border: var(--border-width) solid;
    padding: var(--default-padding);
    float: right;
    height: fit-content;
    max-width: calc(var(--image-width) + 2 * var(--default-padding));
    text-align: center;
    position: relative;
}

.board-game-img {
    display: block;
    width: var(--image-width);
    height: var(--image-height);
}
